* {
    box-sizing: border-box
}

:root {
	--inactive: #ddd;
	--active: #ccc;
	--required: rgb(185, 253, 182);
	--background: white;
	--text: black;
	--empty: red;
}

span {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar {
	background-color: var(--inactive);
}

select {
	border: 0;
	outline: 1px inset black;
	outline-offset:-1px;
	margin-left: 10px;
	/* padding: none; */
	width: calc(100% - 9px);
  }


/* *** Table *** */
table {
	border-collapse: collapse;
	float: left;
	margin-top: 10px;
	margin-right: 40px;
}

td {
	/* border: 1px solid red; */
	margin: none;
	padding-left: 4px;
}

td.group {
	padding: 4px;
	border-bottom: solid 2px var(--text);
	margin-top: 105px;
	padding-right: 20px;
	margin-left: 2px;
	vertical-align: bottom;
}


/* *** Input *** */
input[type=text] {
	padding: 4px;
	border: none;
	text-align: right;
	margin: none;
	margin-left: 10px;
	margin-right: -1px;
	width: 100px;
}

input.empty {
	box-shadow:inset 0px 0px 0px 2px var(--empty);
}

input.manual {
	background-color: var(--inactive);
}

input.required {
	background-color: var(--required);
}

input.required_dependent {
	background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 3px,
      var(--required) 3px,
      var(--required) 6px
  );
}

input.dependent {
	background-color: transparent;
}


/* *** Dropdown *** */


button {
	background-color: var(--inactive);
	padding: 10px;
	font-size: 16px;
	border: none;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	text-align: left;
	padding-left: 10px;
	white-space: nowrap;
	min-width: 100px;
}

/* button::after {
	content: attr(txt);
	font-weight: bold;
	opacity: 0;
	pointer-events: none;
	height: 0px;
} */

button:hover {
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--inactive);
	/* min-width: 120px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content button {
	color: var(--text);
	/* padding: 12px 16px; */
	text-decoration: none;
	display: block;
	width: 100%;
}

/* div.formula {
	background-color: var(--inactive);
	min-height: calc(4px + 1em);
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
} */

.dropdown-content :hover {
	font-weight: bold;
	background-color: var(--active);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
	background-color: var(--active);
	font-weight: bold;
}
