<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="calculator.css">
	</link>

	<!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script> -->
	 <script defer src="angular.js"></script>

	<script defer src="mathjax-config.js"></script>
	<!-- <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script> -->
	<script defer src="config.js"></script>
	<script defer src="unit_test.js"></script>
	<script defer src="calculator.js"></script>
</head>

<body ng-app="App" ng-controller="world">
	<!-- Navigation Bar -->
	<div class="navbar">
		<div class="dropdown" ng-repeat="preset in presets.list">
			<button class="dropbtn" ng-attr-txt="preset.name">{{preset.name}}</button>
			<div class="dropdown-content">
				<button ng-repeat="item in preset.list" ng-click="load(item)" ng-attr-txt="item.name">
					{{item.name}}
				</button>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">⛭</button>
			<div class="dropdown-content" style="width:150px">
				<button ng-click="setting.show_all = setting.show_all ? false : true" >
					{{setting.show_all ? '✓' : '✗'}} &ensp; Show
				</button>

				<button ng-click="setting.show_formulas = setting.show_formulas ? false : true" >
					{{setting.show_formulas ? '✓' : '✗'}} &ensp; Formulas
				</button>

				<button ng-click="setting.show_colors = setting.show_colors ? false : true" >
					{{setting.show_colors ? '✓' : '✗'}} &ensp; Colors
				</button>

				<span>
					Precission
					<input
						style="width: 50px"
						type="number"
						ng-model="setting.precision"
						ng-keyup="update_property_show()" />
				</span>
				<button ng-click="unit_test()">
					Run unit tests
				</button>
			</div>
		</div>

		<button ng-click="clear()" class="dropbtn">
			Clear
		</button>
	</div>

	<!-- Color help -->
	<div ng-if="setting.show_colors">
		<br>
		<input type="text"readonly="true" class="empty" value="Empty"/><br>
		<input type="text"readonly="true" class="required" value="required"/><br>
		<input type="text"readonly="true" class="required_dependent" value="required & dependent"/><br>
		<input type="text"readonly="true" class="dependent" value="dependent"/><br>
		<input type="text"readonly="true" class="manual" value="manual"/><br>
	</div>


	<!-- Properties -->
	<table>
		<tbody ng-repeat="group in properties.list" ng-show="setting.show_all || group.visible()">
			<tr>
				<td colspan="2" class="group" height="40">
					{{group.name}}
				</td>
			</tr>
			<tr
				ng-repeat="property in group.list"
				ng-if="setting.show_all || property.visible()"
			>
					<td>{{property.name}}</td>
					<td>
						<input
							type="text"
							ng-model="property.show"
							ng-keyup="property.parse() || update()"
							ng-class="property.class"
							ng-readonly="property.dependent"
							/>
					</td>
					<td>{{property.show_unit}}</td>
				</tr>
			</tr>

		</tbody>
	</table>

	<!-- Formulas -->
	<table>
		<tbody ng-repeat="group in formulas.list"  ng-if="setting.show_all || group.visible()">
			<tr>
				<td colspan="3" class="group" height="40">
					{{group.name}}
				</td>
			</tr>
			<tr
				ng-repeat="formula in group.list"
				ng-if="setting.show_all || formula.visible()"
			>
				<td>{{formula.name}}</td>
				<td ng-if="setting.show_formulas">
					<span mathjax-bind="formula.formula"></span>
				</td>
				<td>
					<select ng-model="formula.value">
						<option ng-repeat="name in formula.possible_values">
							{{name}}
						</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- <span style="white-space: pre">{{unit_test_result}}</span> -->

	<p ng-bind-html=unit_test_result></p>
</body>
</html>
